* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #f0f8ff;
    padding-left: 30rem;
}

section {
    padding: 1rem 5%;
    min-height: 100vh;
}

.heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #333;
}

.heading span {
    color: #2c3e50;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #3498db;
    color: #ecf0f1;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 4px;
}

.btn:hover {
    background: #2c3e50;
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #34495e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-decoration: uppercase;
    color: #ecf0f1;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span {
    /* text-transform: uppercase; */
    color: #3498db;
}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: #ecf0f1;
    margin: 2rem 0;
}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: #3498db;
}

header .follow a {
    font-size: 2.5rem;
    color: #ecf0f1;
    margin: 0.7rem;
}

header .follow a:hover {
    color: #3498db;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    /* border-radius: 1rem; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.home .content {
    flex: 1 1 40rem;
}

.home .content .hi {
    font-size: 2rem;
    color: #3498db;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #2c3e50;

}

.home .content h3 span {
    color: #3498db;

}

.home .content .info {
    font-size: 2.5rem;
    color: #2c3e50;
    padding: 1rem 0;
}

.home .content .text {
    font-size: 1.7rem;
    color: #7f8c8d;

}

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image {
    flex: 1 1 25rem;
}

.about .row-1 .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #2c3e50;
    font-size: 3.5rem;
}

.about .row-1 .content p {
    color: #7f8c8d;
    font-size: 1.7rem;
    padding: 2rem 0;
}

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 5rem 0;
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container span {
    color: #3498db;
}

.button {
    padding: 12px 35px;
    font: normal 500 16px/20px 'Courier New', monospace;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: linear-gradient(90deg, #3498db 0%, #2980b9 100%);
    background-clip: padding-box;
    color: #ecf0f1;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.button.primary-button:hover {
    background: #ecf0f1;
    background-clip: padding-box;
    color: #2c3e50;
}

.button.secondary-button::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(90deg, #3498db 0%, #2980b9 100%);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button {
    background: #3498db;
    background-clip: padding-box;
}

.button.secondary-button:hover {
    background: linear-gradient(90deg, #8e44ad 0%, #2980b9 100%);
    color: #3498db;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

marquee img {
    height: 100px;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'Courier New', monospace;
    color: #2c3e50;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #ecf0f1;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #3498db;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #2980b9;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;
    color: #3498db;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #ecf0f1;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #3498db;
    border: 2px solid #3498db;
}

.contact .icons-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact .icons-container .icons {
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    background-color: #a1bdd0;
}

.contact .icons-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: #3498db;
    color: #ecf0f1;
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: #2c3e50;
    font-size: 2rem;
    padding: 5rem 0;
}

.contact .icons-container .icons p {
    color: #7f8c8d;
    font-size: 1.7rem;
}

.preloader {
    height: 40px;
    width: 40px;
    margin-left: 85%;
    margin-bottom: 5%;
    background-color: #3498db;
    border-radius: 50%;
}
